.topdiv {
    display: none;
}

.logo {
    background-color: #BB131A;
    height: 100px;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;

}

.burgermenu img {
    height: auto;
    width: auto;
}

.auswahlpunkte {
    display: none;
}

.radio {
    padding: 10px;
    background-color: grey;

}

.radioboxin {
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 25%;
    grid-auto-rows: minmax(100px, 200px);
    background-color: white;
    border-width: 1px;
    border-style: solid;
}

.vorarlbergheute {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.orfvorarlberg {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}






.container_artikel img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}



.Artikrlueberschrift {
    color: white;
    justify-content: space-around;
    margin-top: -100px;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;

}

.textartikrl {
    text-shadow: -1px -1px 1px rgba(255, 255, 255, .1), 1px 1px 1px rgba(0, 0, 0, .5), 0px -1px 20px #000000;
    font-size: 20px;
}

@media (min-width: 800px) {
    .topdiv {
        background-color: rgb(145, 6, 6);
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        padding-left: 15px;
        padding-right: 15px;
        color: white;
    }


    .logo {
        background-color: #BB131A;
        height: 100px;
        width: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 15px;
        padding-right: 15px;
    }

    .burgermenu {
        display: none;
    }



    .auswahlpunkte {
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        padding-left: 15px;
        padding-right: 15px;
        color: white;
        background-color: #76110d;

    }

    .radio {
        padding: 10px;
        background-color: grey;

    }

    .radioboxin {
        padding: 10px;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 25%;
        grid-auto-rows: minmax(100px, 200px);
        background-color: white;
        border-width: 1px;
        border-style: solid;
    }




    .container_artikel {
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 20px;
        background-color: white;
        border-width: 1px;
        border-style: solid;
        border-color: white;
    }

    .container_artikel img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }

    .Artikrlueberschrift {
        color: white;
        justify-content: space-around;
        margin-top: -100px;
        width: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 15px;
        padding-right: 15px;

    }

    .textartikrl {
        text-shadow: -1px -1px 1px rgba(255, 255, 255, .1), 1px 1px 1px rgba(0, 0, 0, .5), 0px -1px 20px #000000;
        font-size: 20px;
    }

    .artikelrest {
        padding: 5%;
        padding-top: 7%;
        display: grid;
        grid-template-columns: 70% auto;
    }
}