.topdiv {
    background-color: rgb(145, 6, 6);
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-left: 10%;
    padding-right: 10%;
    color: white;
}




.logo {
    background-color: #BB131A;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

.auswahl {}

.auswahlpunkte {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-left: 10%;
    padding-right: 10%;
    color: white;
    background-color: #76110d;

}